*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main{
    background-color: #ffcc00;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.face{
    display: flex;
    justify-content: center;
    
}
.face__inside{
    font-size: 70px;
}

.buttons{
    margin-top: 20px;
}

.selector{
    font-size: 30px;
    background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
    background-image: linear-gradient(to bottom, #eb94d0, #2079b0);

}

.update{
    font-size: 30px;
    background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
    background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
}

.switch{
    background-color: #ff9900;
}
